<!DOCTYPE html>
<html>
  <head>
    <title>TurboTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="bordered grid">
      <nav class="bordered">Navbar</nav>
      <aside class="bordered"><%= render 'layouts/sidebar' %></aside>
      <main class="bordered">
        <%= render 'shared/flash' %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
